In [1]:
import findspark

In [3]:
findspark.init("/opt/manual/spark")

In [4]:
from pyspark.sql import SparkSession, functions as F
from pyspark.sql.types import *
from pyspark.sql import Row

In [5]:
spark = SparkSession.builder \
.appName("Rows") \
.master("local[2]") \
.getOrCreate()

In [6]:
a_row = Row("Murat", 43, "Edirne")

In [7]:
type(a_row)

pyspark.sql.types.Row

In [9]:
a_row[-1]

'Edirne'

In [12]:
row_erkan = Row("Erkan", 33, "Kırklareli")
row_murat = Row("Murat", 42, "Edirne")
row_burcu = Row("Burcu", 47, "Tekirdağ")

In [13]:
df = spark.createDataFrame([row_erkan, row_murat, row_burcu], ['Name', 'Age', 'City'])
# 1. liste satırları 2. liste sütunları temsil ediyor

In [14]:
df.show()

+-----+---+----------+
| Name|Age|      City|
+-----+---+----------+
|Erkan| 33|Kırklareli|
|Murat| 42|    Edirne|
|Burcu| 47|  Tekirdağ|
+-----+---+----------+

In [15]:
df.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Age: long (nullable = true)
 |-- City: string (nullable = true)

In [16]:
spark.stop()